:root{
font-family: 'Kumbh Sans', sans-serif;
@mixin flexstarter ($direction, $position) { 
    display: flex;
    flex-direction: $direction;
    justify-content: $position;
    


}

}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100vh;
    height: 80vh;
    font-size: 16px;

    main{
        max-width: 1440px;
        max-height: 100%;
        @include{column,center }
        margin: auto;

        header{
            max-width: 100%;
            padding: 1rem ;

            nav{
                display: flex;
                justify-content: space-between;


            }
        }


    }

}

